body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  color: green;
}

p {
  color: rgb(0, 46, 99);
}

div {
  color: chartreuse;
}

.segundoDiv {
  color: rgb(226, 39, 142);
}

.padre {
  background: red;
  height: 300px;
  width: 300px;
  /* margin: 20px; */
  padding: 50px;
}

.hijo {
  height: 100px;
  width: 100px;
  background: black;
  /* margin: 20px; */
}

p span{
    background: violet;
}